{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="renderer" content="webkit" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="gsw945" />
    {# <link rel="shortcut icon" type="image/x-icon" href="{% static 'favicon.ico' %}" /> #}
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
    <title>{% block title %}{{ CFG.SITE_INFO.TITLE }}{% endblock %}</title>
    <link href="{% static 'libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'libs/twitter-bootstrap/3.3.7/css/bootstrap-theme.min.css' %}" rel="stylesheet" type="text/css" />
    <!--[if lt IE 9]>
        <script src="{% static 'libs/html5shiv/r29/html5.min.js' %}"></script>
        <script src="{% static 'libs/respond.js/1.4.2/respond.min.js' %}"></script>
    <![endif]-->
    <link href="{% static 'libs/font-awesome/5.7.2/css/all.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/top-nav.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/layout.css' %}" rel="stylesheet" type="text/css" />
    {% block head_css %}{% endblock %}
</head>
<body>
    {% include "widgets/top-nav.html" %}
    
    {% csrf_token %}

    <div class="container page-main">
        {% block content %}
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 main-left-part">
            {% block content_left %}
                左边内容
            {% endblock %}
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-2 main-right-part">
            {% block content_right %}
                右边面板
            {% endblock %}
            </div>
        </div>
        {% endblock %}
    </div>

    <div class="container-fluid">
        {% block footer %}
            {% include "widgets/layout-footer.html" %}
        {% endblock %}
    </div>

    <script src="{% static 'libs/jquery/1.12.4/jquery.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js' %}" type="text/javascript"></script>
    <script type="text/javascript">
        if(!window.GLOGAL) {
            window.GLOGAL = {}
        }
        // 当前页面路由名称
        GLOGAL.PAGE_VIEW_NAME = '{{ request.resolver_match.view_name }}';

        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return ((/^(GET|HEAD|OPTIONS|TRACE)$/).test(method));
        }
        $(document).ready(function() {
            $.ajaxSetup({
                beforeSend: function(xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", $('input[name="csrfmiddlewaretoken"]').val());
                    }
                }
            });
            // 高亮当前页面菜单
            var $current = $('li[data-page-view="' + GLOGAL.PAGE_VIEW_NAME + '"]');
            if($current.length > 0) {
                $current.addClass('active');
                if($current.parent('ul').hasClass('dropdown-menu')) {
                    $current.parents('li.dropdown').addClass('active');
                }
            }

            // 顶部搜索
            $('.header-search.input-group-container > .input-group-container-addon').on('click', function() {
                var query = $(this).parent().find('input[name="query"]').val();
                $('#header-search').trigger('submit');
            });
        });
    </script>
    {% block footer_js %}{% endblock %}
</body>
</html>