{% extends "base-layout.html" %}
{% load static %}
{% load thumbnail %}

{% block title %}首页 - {{ block.super }}{% endblock %}

{% block head_css %}
    {{ block.super }}
    {% include "widgets/loading-style.html" %}
    <link href="{% static 'css/index.css' %}" rel="stylesheet" type="text/css" />
    <style type="text/css">
        .navbar.navbar-static-top {
            margin-bottom: 0;
        }
        .page-main {
            text-align: left;
        }
        #page-slogan {
            padding: 6px 0 2px 0;
        }
        .slogan-text {
            font-size: 1.23em;
            font-weight: 500;
            text-align: left;
            text-indent: 1em;
            color: #8dabd7;
        }
        #page-main {
            /*border: 1px solid #fa1;*/
            display: flex;
            flex-direction: row;
        }
        .sidebar {
            flex-basis: 7em;
            text-align: right;
            display: inline-block;
            background-color: #858fd8;
            color: #fff;
            border: 1px solid #ddd;
            border-right-color: #fff;
        }
        .sidebar > ul {
            padding: 0;
        }
        .sidebar > ul > li {
            list-style: none;
            padding: 4px 7px 5px 0;
            cursor: default;
        }
        .sidebar > ul > li:not(:first-of-type){
            border-top: 1px dotted #e1e3ef;
        }
        .sidebar > ul > li:not(.selected):hover {
            color: #247ef3;
            background-color: #f8f5ef;
            cursor: pointer;
        }
        .sidebar > ul > li.selected {
            color: #247ef3;
            background-color: #f8f5ef;
        }
        .section-wrapper {
            flex-basis: calc(100% - 7em - 0px);
            display: inline-block;
            background-color: #f8f5ef;
            padding: 1px;
            border: 1px solid #ddd;
        }
        .section-wrapper .item {
            display: inline-block;
            width: 15em;
            height: 10.4em;
            margin-bottom: 3px;
            position: relative;
            padding: 0.2em;
            border: 1px solid #d0d1de;
            cursor: pointer;
        }
        .section-wrapper .item:nth-of-type(2n+1) {
            /*background-color: #ffe5b5;*/
            background-color: #fff6e5;
        }
        .section-wrapper .item:nth-of-type(2n) {
            /*background-color: #bfdbff;*/
        }
        .section-wrapper .item:hover > strong {
            color: #0f3ff7;
            text-decoration: underline;
        }
        .section-wrapper .item .item-content {
            text-align: left;
            overflow: hidden;
            height: calc(10em - 1em - 6px);
        }
        .section-wrapper .item .item-content > img {
            width: 58px;
            height: 58px;
            margin-right: 4px;
            margin-bottom: 2px;
            float: left;
        }
        .section-wrapper .item .item-content > .item-intro {
            overflow: hidden;
            display: inline;
        }
        .section-wrapper .item .item-content > .overflow-mask {
            display: none;
            position: absolute;
            bottom: 0;
            right: 0.2em;
            font-size: 1.7em;
            height: 0.85em;
            line-height: 0.2em;
            vertical-align: top;
            background-color: #fff6e5;
            padding-left: 3px;
            color: #909090;
            overflow: hidden;
            -webkit-user-select: none; /* Chrome all / Safari all */
            -moz-user-select: none;   /* Firefox all */
            -ms-user-select: none;  /* IE 10+ */
            user-select: none;  /* Likely future */
        }
        .intro-extending {
            display: inline-block;
            width: 1.5em;
            height: 1em;
            lin-height: 1em;
        }
        .default-empty.error {
            color: #f00;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xs-12 col-md-12 text-center">
            <div id="page-slogan">
                <div class="slogan-text">用好工具，事半功倍</div>
            </div>
            <div id="page-main">
                <!-- 页面待开发中 -->
                <div class="sidebar">
                    <ul>
                        {% for category in category_list %}
                            <li {% if forloop.first %} class="selected" {% endif %} data-category="{{ category.pk }}">{{ category.name }}</li>
                        {% empty %}
                            <li class="default-empty">空空如也</li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="section-wrapper">
                    {% for tool in category_tools %}
                        <div class="item" data-detail="{{ tool.detail|default_if_none:'' }}" title="{{ tool.detail|default_if_none:'暂无详细使用介绍' }}">
                            <strong>{{ tool.name }}</strong>
                            <div class="item-content">
                                {# https://easy-thumbnails.readthedocs.io/en/stable/usage/#overview #}
                                {% thumbnail tool.cover 58x58 quality=100 subsampling=2 autocrop=False bw=False replace_alpha="#fff" detail=False sharpen=False crop="scale" upscale=True as thumb_cover %}
                                <img src="{{ thumb_cover.url }}" data-width="{{ thumb_cover.width }}" data-height="{{ thumb_cover.height }}" alt="{{ tool.name }}" />
                                <div class="item-intro">{{ tool.intro }}<span class="intro-extending"></span></div>
                                <div class="overflow-mask">...</div>
                            </div>
                        </div>
                    {% empty %}
                        <div class="default-empty">空空如也</div>
                    {% endfor %}
                </div>
                <!-- 网络不好时，loading占位 -->
                <script id="loading-template" type="text/x-template">
                    {% include "widgets/loading-html.html" with loading_text='数据加载中' %}
                </script>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer_js %}
    <script type="text/javascript">
        // 模板变量
        GLOGAL.CATEGORY_TOOLS_URL = "{% url 'pages:category_tools' %}";
    </script>
    <script type="text/javascript">
        function sectionAutoResize() {
            $(window).on('resize', function() {
                var $body = $(document.body);
                $('#page-main').css('min-height', 0);
                var hh = $body.find('nav.navbar').outerHeight(true),
                    sh = $body.find('#page-slogan').outerHeight(true),
                    fh = $body.find('.page-footer').outerHeight(true);
                var bh = $(window).height() - hh - fh;
                var min_bh = 120;
                $body.find('.page-main').css('min-height', Math.max(min_bh, bh));
                $('#page-main').css('min-height', $body.find('.page-main').height() - sh);
            });
            $(window).trigger('resize');
        }

        function renderCategoryTools($wrapper, data) {
            for (var i = 0; i < data.length; i++) {
                var tool = data[i];
                var detail_data = '',
                    detail_title = '暂无详细使用介绍';
                if(!!tool.detail) {
                    detail_data = tool.detail;
                    detail_title = tool.detail;
                }

                var item_html = [
                    '<div class="item" data-detail="', detail_data, '" title="', detail_title, '">',
                        '<strong>', tool.name, '</strong>',
                        '<div class="item-content">',
                            '<img src="', tool.cover.url, '" data-width="', tool.cover.width, '" data-height="', tool.cover.height, '" alt="', tool.name, '" />',
                            '<div class="item-intro">', tool.intro, '<span class="intro-extending"></span></div>',
                            '<div class="overflow-mask">...</div>',
                        '</div>',
                    '</div>'
                ].join('');
                $wrapper.append(item_html);
            }
            itemAddMask();
        }

        function requestCategoryTools(category_id) {
            var $wrapper = $('#page-main .section-wrapper');
            // 显示加载层
            $wrapper.html($('#loading-template').html());
            $.ajax({
                url: GLOGAL.CATEGORY_TOOLS_URL,
                type: 'POST',
                data: {
                    'category': category_id
                },
                dataType: 'json'
            }).done(function(resp) {
                // 移除加载层
                $('.loading-wrapper').remove();
                // console.log(resp);
                if(resp.error == 0)  {
                    if(resp.rows.length < 1) {
                        $wrapper.html('<div class="default-empty">空空如也</div>');
                    }
                    else {
                        renderCategoryTools($wrapper, resp.rows);
                    }
                }
                else {
                    // alert(resp.desc);
                    $wrapper.html('<div class="default-empty error">' + resp.desc + '</div>');
                }
            }).fail(function(err) {
                console.error(err);
            });
        }

        function bindSidebarClick() {
            $('.sidebar > ul > li').on('click', function(evt, ignore_selected) {
                var $self = $(this);
                if($self.hasClass('selected') && !ignore_selected) {
                    return;
                }
                $self.siblings('li.selected').removeClass('selected');
                $self.addClass('selected');
                var category_id = $self.attr('data-category');
                requestCategoryTools(category_id);
            });
        }

        function openNewTab(url) {
            var $form = $('<form action="' + url +'" method="GET" target="_blank"></form>');
            $(document.body).append($form);
            setTimeout(function() {
                $form.trigger('submit');
                setTimeout(function() {
                    $form.remove();
                }, 50);
            }, 50);
        }

        function bindItemClick() {
            $('#page-main .section-wrapper').on('click', '.item', function() {
                var $item = $(this);
                var detail = $item.attr('data-detail');
                if(detail && detail.length > 0) {
                    if(!window.open(detail, '_blank')) {
                        openNewTab(detail);
                    }
                }
            });
        }

        function itemAddMask() {
            $('#page-main .section-wrapper .item').each(function() {
                var $item = $(this);
                var $C = $item.find('.item-content');
                var max_h = $C.height(),
                    h = $C.find('.item-intro').height();
                $C.find('.item-intro').find('.intro-extending').remove();
                if(h > max_h) {
                    if(!$C.find('.overflow-mask').hasClass('show')) {
                        $C.find('.overflow-mask').addClass('show');
                    }
                }
                else {
                    var intro = $C.find('.item-intro').text();
                    if(!(/([\u0000-\uffff]|[.\s])+。$/).test(intro)) {
                        $C.find('.item-intro').append("。");
                    }
                }
            });
        }

        $(document).ready(function() {
            sectionAutoResize();
            bindSidebarClick();
            bindItemClick();
            itemAddMask();
        });
    </script>
{% endblock %}
