html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: "Segoe UI","Lucida Grande",Helvetica,Arial,"微软雅黑","Microsoft YaHei",FreeSans,Arimo,"Droid Sans","wenquanyi micro hei","Hiragino Sans GB","Hiragino Sans GB W3",FontAwesome,sans-serif !important;
    /*font-size: 12px;*/
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}
a,
a:visited {
    color: #0f3ff7;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.container.page-main {
    padding-bottom: 0.5em;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}

.page-footer {
    position: absolute;
    bottom: 0;
    height: 63px;
    width: 100%;
}
.page-footer a.github-icon {
    position: relative;
}
.page-footer i.fa-github-square {
    position: absolute;
    left: 0.2em;
    top: -0.1em;
    font-size: 1.8em;
    vertical-align: middle;
    color: #000;
}
.page-footer a.github-icon:hover > i.fa-github-square {
    color: #0f3ff7;
}

@media(min-width: 992px) {
    .main-right-part {
        padding-left: 0;
        padding-right: 5px;
        margin-left: -9px;
    }
}
@media(min-width: 1200px) {
    .col-lg-2.main-right-part {
        width: 24.3%;
    }
}