{% extends "base-layout.html" %}
{% load static %}

{% block head_css %}
    <link href="{% static 'css/detail.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content_left %}
<div class="col-xs-12 col-sm-8 col-md-9 col-lg-9">
    <div class="blog-title">
        <h2>{{ article.title }}</h2>
    </div>
    <div class="blog-content">
        <script type="text/x-markdown" id="article-markdown">{{ article.content }}</script>
    </div>
    <div class="blog-tags">
        {% for tag in article.tags.all %}
            <span class="tag-wrapper"><i class="fas fa-tag"></i> {{ tag.name }}</span>
        {% empty %}
            <span>没有添加标签</span>
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block content_right %}
<div class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
    right panel
</div>
{% endblock %}