{% extends "base-layout.html" %}
{% load static %}

{% block title %}{{ article.title }} - {{ block.super }}{% endblock %}

{% block head_css %}
    {% include "widgets/loading-style.html" %}
    <link href="{% static 'css/detail.css' %}" rel="stylesheet" type="text/css" />
    <!-- <link href="{% static 'libs/highlight.js/9.15.6/styles/monokai-sublime.min.css' %}" rel="stylesheet" type="text/css" /> -->
    <link href="{% static 'libs/highlight.js/9.15.6/styles/xcode.min.css' %}" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdn.bootcss.com/gitalk/1.5.0/gitalk.min.css" />
{% endblock %}

{% block content_left %}
    <div class="blog-title">
        <h2>
            {{ article.title }}
            {% if user.is_authenticated %}
            <span class="ico-btn-edit">
                <a href="{% url 'admin:pages_article_change' article.id %}" title="编辑">
                    <i class="far fa-edit"></i>
                </a>
            </span>
            {% endif %}
        </h2>
    </div>
    <div class="blog-content">
        <!-- 网络不好时，loading占位 -->
        {% include "widgets/loading-html.html" with loading_text='博文加载中' %}
        <script type="text/x-markdown" id="article-markdown">{{ article.content }}</script>
    </div>
    <div class="row">
        <div class="col-md-6 blog-tags">
            标签: 
            {% for tag in article.tags.all %}
                <a href="{% url 'pages:search' %}?tag={{ tag.id }}" class="tag-item">
                    <span class="tag-wrapper"><i class="fas fa-tag"></i>{{ tag.name }}</span>
                </a>
            {% empty %}
                <span class="text-muted">没有添加标签</span>
            {% endfor %}
        </div>
        <div class="col-md-6 text-right">
            <span class="ico-wrapper" title="浏览量">
                <i class="fas fa-eye"></i> {{ article.analysis_count }}
            </span>
            <span class="ico-wrapper" title="评论数(功能开发中)">
                <i class="far fa-comment-dots"></i> 0
            </span>
            <span class="ico-wrapper" title="点赞数(功能开发中)">
                <i class="far fa-thumbs-up"></i> 0
            </span>
            <span class="ico-wrapper" title="差评数(功能开发中)">
                <i class="far fa-thumbs-down"></i> 0
            </span>
            <!--
            <i class="far fa-comments"></i> 0
            <i class="far fa-comment"></i> 0
            <i class="far fa-comment-alt"></i> 0
            -->
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            首发 {{ article.create_time }}
        </div>
        <div class="col-xs-6 text-right">
            {{ article.upate_time }} 更新
        </div>
    </div>
    <div class="row blog-siblings">
        <div class="col-xs-6">
        上一篇:
        {% with article.previous_article as apa %}
            {% if not apa %}
            <span class="text-muted">没有了</span>
            {% else %}
                <a href="{% url 'pages:detail' apa.id %}">{{ apa.title }}</a>
            {% endif %}
        {% endwith %}
        </div>
        <div class="col-xs-6 text-right">
        下一篇:
        {% with article.next_article as ana %}
            {% if not ana %}
            <span class="text-muted">没有了</span>
            {% else %}
                <a href="{% url 'pages:detail' ana.id %}">{{ ana.title }}</a>
            {% endif %}
        {% endwith %}
        </div>
    </div>
    <div id="comment-container"></div>
{% endblock %}

{% block content_right %}
<div class="panel panel-default calendar-panel">
        <div class="panel-heading">
            <h3 class="panel-title">寸金难买寸光阴</h3>
        </div>
        <div class="panel-body">
            <div class="arab-datetime">&nbsp;</div>
            <div class="lunar-datetime">&nbsp;</div>
            <div class="almanac-datetime">&nbsp;</div>
            <div class="calendar-box">&nbsp;</div>
      </div>
    </div>
{% endblock %}

{% block footer_js %}
    <script src="{% static 'libs/marked/0.6.1/marked.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'libs/highlight.js/9.15.6/highlight.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'libs/highlight.js/9.15.6/languages/go.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'libs/highlightjs-line-numbers.js/2.6.0/highlightjs-line-numbers.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'libs/lunar-calendar/LunarCalendar.min.js' %}" type="text/javascript"></script>
    <script src="https://cdn.bootcss.com/gitalk/1.5.0/gitalk.min.js"></script>
    <script type="text/javascript">
        // 模板变量
        GLOGAL.ARTICLE_ID = {{ article.id }};
        GLOGAL.ARTICLE_ANALYSIS_URL = "{% url 'pages:article_analysis' %}";
    </script>
    <script type="text/javascript">
        /**
         * HTML转义
         */
        function escapeForHTML(input) {
            var escapeMap = {
                "&": "&amp;",
                "<": "&lt;",
                ">": "&gt;",
                '"': "&quot;",
                "'": "&#39;"
            };
            return input.replace(/([&<>'"])/g, function(char) {
                return escapeMap[char];
            });
        }

        /**
         * 时间戳转字符串时间(YYYY-MM-dd HH:mm:ss)
         * @param timestamp 时间戳(单位秒)
         */
        function ts2str(timestamp) {
            var padLeftZero = function(num) {
                return [(num <= 9) ? '0' : '', num].join('');
            };
            timestamp = Number(timestamp) * 1000;
            var dt = new Date(timestamp);
            return [
                dt.getFullYear(),
                padLeftZero(dt.getMonth() + 1),
                padLeftZero(dt.getDate())
            ].join('-') + ' ' +
            [
                padLeftZero(dt.getHours()),
                padLeftZero(dt.getMinutes()),
                padLeftZero(dt.getSeconds())
            ].join(':');
        }

        /**
         * 获取日历信息
         */
        function calendar_info() {
            var $container = $('.main-right-part .calendar-panel .panel-body');
            var current = new Date();
            var ts = parseInt(current.getTime() / 1000);
            var weekList = ['日','一','二','三','四','五','六'];
            // console.log(ts2str(ts));
            $container.find('.arab-datetime').html('<span>' + ts2str(ts) + '</span>');
            var inited = $container.prop('data-inited');
            var is_zero_datetime = (current.getHours() + current.getMinutes() + current.getSeconds()) == 0;
            if(!inited || is_zero_datetime) {
                var calendar = LunarCalendar.calendar(current.getFullYear(), current.getMonth() + 1, true);
                var today = calendar.monthData[calendar.firstDay + current.getDate() - 1];
                var weekday = current.getDay();
                var lunar = '农历' + today.lunarMonthName + today.lunarDayName + ' 星期' + weekList[weekday];
                var almanac = today.GanZhiYear + '[' + today.zodiac + ']年 ' + today.GanZhiMonth + '月 ' + today.GanZhiDay + '日'
                // console.log(lunar);
                // console.log(almanac);
                $container.find('.lunar-datetime').html('<span>' + lunar + '</span>');
                $container.find('.almanac-datetime').html('<span>' + almanac + '</span>');
                var $box = $container.find('.calendar-box');
                generate_calendar($box, calendar, today, current, weekList);
            }
            if(!inited) {
                $container.prop('data-inited', true);
                $container.parent().animate({
                    opacity: 1,
                }, 1567);
            }
            // console.log('------------------------------')
        }

        /**
         * 生成日历信息
         */
        function generate_calendar($box, calendar, today_data, current, weekList) {
            $box.empty();
            // 日历为6行，如果当前月的第一天是周一，需要显示前一个月的最后一周
            if(calendar.firstDay == 0) {
                var prev_year = today.year;
                var prev_month = today.month - 1;
                if(prev_month == 0) {
                    prev_month = 12;
                    prev_year -= 1;
                }
                var prev_data = LunarCalendar.calendar(prev_year, prev_month, false).monthData.slice(-7);
                for (var i = prev_data.length; i > 0; i--) {
                    calendar.monthData.unshift(prev_data[i]);
                }
                calendar.monthData.splice(-7, 7);
                calendar.firstDay = 7;
            }
            $box.data('data-calendar', calendar);
            // 日历头
            var $head_line = $('<div class="calendar-head"></div>');
            for (var i = 0; i < weekList.length; i++) {
                $head_line.append([
                    '<span class="calendar-day">',
                        weekList[i],
                    '</span>'
                ].join(''));
            }
            $box.append($head_line);
            var today_idx; // 今天索引
            // 生成日历6行7列的日期
            for (var row = 0; row < 6; row++) {
                var $line = $('<div class="calendar-week"></div>');
                for (var col = 0; col < 7; col++) {
                    var idx = row * 7 + col;
                    // 某一天的数据
                    var day_data = calendar.monthData[idx];
                    $line.append([
                        '<span class="calendar-day" data-idx="', idx, '">',
                            day_data.day,
                        '</span>'
                    ].join(''));
                    if(day_data.day == today_data.day) {
                        today_idx = idx;
                    }
                }
                $box.append($line);
            }
            // 今天
            $box.find('span.calendar-day[data-idx="' + today_idx + '"]').addClass('calendar-today');
            var idx_max = calendar.firstDay - 1 + calendar.monthDays;
            for (var i = 0; i < calendar.monthData.length; i++) {
                var $cell = $box.find('span.calendar-day[data-idx="' + i + '"]');
                if(i >= calendar.firstDay && i <= idx_max) {
                    // console.log(calendar.monthData[i]);
                    $cell.addClass('calendar-active');
                }
                else {
                    $cell.addClass('calendar-overflow');
                }
            }
            window.today_data = today_data;
            window.calendar = calendar;
            // debugger;
            // TODO: 绘制日历
            // console.log(calendar);
            // console.log(today_data);
            // console.log(current);
            // console.log(weekList);
        }

        /**
         * 访问统计
         */
        function article_analysis() {
            $.ajax({
                url: GLOGAL.ARTICLE_ANALYSIS_URL,
                type: 'POST',
                data: {
                    article: GLOGAL.ARTICLE_ID
                },
                dataType: 'json'
            }).done(function(resp) {
                console.log(resp)
            }).fail(function(err) {
                console.error(err);
            });
        }

        $(document).ready(function() {
            // 博客访问统计(延时1.2秒，过滤掉无效访问)
            setTimeout(article_analysis, 1200);
            // 显示日历
            setInterval(calendar_info, 1000);
            // 移除加载层
            $('.loading-wrapper').remove();
            // 配置 highlightjs
            hljs.configure({
                tabReplace: '    ' // 4 spaces
            })
            // 配置 marked
            marked.setOptions({
                gfm: true,
                pedantic: false,
                sanitize: false, // 不转义script等标签
                xhtml: true,
                tables: true,
                langPrefix: 'hljs ',
                highlight: function(code, lang) {
                    // 代码高亮(如果能识别出具体的语言的话)
                    if(!!(lang && hljs.getLanguage(lang))) {
                        // 使用隐藏字段记录语言名称
                        var langName = '<input type="hidden" class="lang-name" value="' + lang + '" />';
                        // 代码高亮
                        return langName + hljs.highlight(lang, code).value;
                    }
                    return escapeForHTML(code);
                }
            });
            // 获取markdown源码
            var source = $('#article-markdown').html();
            // HTML解码(django模板会进行HTML编码)
            source = $("<div/>").html(source).text();
            if(source.length > 0) {
                // 将markdown源码转为HTML，并更新到页面上
                $('.blog-content').html(marked(source));
                $('code.hljs').each(function(i, block) {
                    // 添加行号
                    hljs.lineNumbersBlock(block);
                    // 添加语言显示标签
                    setTimeout(function() {
                        var $lang = $(block).find('input[type="hidden"].lang-name');
                        if($lang.length > 0) {
                            $(block).prepend([
                                '<label class="lang-name-label">',
                                    $lang.val(),
                                '</label>'
                            ].join(''));
                            $lang.remove(); // 移除语言记录元素
                        }
                    }, 100);
                });
            }
            else {
                $('.blog-content').html('<p class="text-center text-muted">作者很懒，内容空空如也</p>');
            }

            // 评论系统
            var gitalk = new Gitalk({
                clientID: '416ff2d2cfa556e8f231',
                clientSecret: '3a7ed3b563e1711e7a54e286da315a259c8e40e4',
                repo: 'myblog',
                owner: 'gsw945',
                admin: ['gsw945'],
                // id: location.pathname,
                id: 'article-' + GLOGAL.ARTICLE_ID,
                distractionFreeMode: false
            });
            gitalk.render('comment-container')
        });
    </script>
{% endblock %}