{% extends "base-layout.html" %}
{% load static %}

{% block head_css %}
    <link href="{% static 'css/list.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content_left %}
    <ul class="list-group blog-list-panel">
        <li class="list-group-item">
            <h4 class="list-group-item-heading">
                <a href="/article/2">Linux上修改MySQL数据库root密码</a>
                {% if user.is_authenticated %}
                <span class="ico-btn-edit">
                    <a href="/edit/?id=2" title="编辑">
                        <i class="fas fa-pen-square"></i>
                    </a>
                </span>
                {% endif %}
            </h4>
            <p class="list-group-item-text">测试内容</p>
            <div class="list-group-item-footing">
                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        <span>mysql, 标签1</span>
                    </div>
                    <div class="col-xs-12 col-sm-6 text-right">
                        <span class="text-muted">2017-12-12 10:32:35</span>
                    </div>
                </div>
            </div>
        </li>

        <li class="list-group-item">
            <h4 class="list-group-item-heading">
                <a href="/article/1">测试</a>
                {% if user.is_authenticated %}
                <span class="ico-btn-edit">
                    <a href="/edit/?id=1" title="编辑">
                        <i class="fas fa-pen-square"></i>
                    </a>
                </span>
                {% endif %}
            </h4>
            <p class="list-group-item-text">没有简介</p>
            <div class="list-group-item-footing">
                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        <span>T1, tag2, S3</span>
                    </div>
                    <div class="col-xs-12 col-sm-6 text-right">
                        <span class="text-muted">2017-11-20 00:47:56</span>
                    </div>
                </div>
            </div>
        </li>
    </ul>
    <div class="blog-list-pagination">
        <nav aria-label="blog-list-pagination">
            <ul class="pager">
                <li class="previous disabled">
                    <a href="#">
                        <span aria-hidden="true">&larr;</span> 上一页
                    </a>
                </li>
                <li class="next">
                    <a href="#">
                        下一页 <span aria-hidden="true">&rarr;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
{% endblock %}

{% block content_right %}
    <div class="panel panel-default tags-panel">
      <div class="panel-heading">
          <h3 class="panel-title">标签</h3>
      </div>
      <div class="panel-body">
            <a href="#" class="tag-item">
                <span class="tag-text">测试</span>
                <span class="badge">42</span>
            </a>
            <a href="#" class="tag-item">
                <span class="tag-text">test</span>
                <span class="badge">12</span>
            </a>
            <a href="#" class="tag-item">
                <span class="tag-text">hello world</span>
                <span class="badge">9</span>
            </a>
      </div>
    </div>
{% endblock %}




    
            
