{% extends "base-layout.html" %}

{% block title %}给[{{ CFG.SITE_INFO.WHOAMI }}]留言 - {{ block.super }}{% endblock %}

{% block head_css %}
    {{ block.super }}
    <style type="text/css">
        #page-main {
        }
        .title-divider {
            margin-right: -20px;
            margin-left: -20px;
        }
        @media(min-width: 768px) {
            .title-divider {
                margin-left: 0;
            }
        }
        #txt-content {
            resize: vertical;
        }
        #btn-submit {
            margin-right: 2em;
        }
        .form-line-wrapper {
            display: block;
            width: 100%;
            height: 34px;
            padding: 6px 6px;
            font-size: 14px;
            line-height: 1.42857143;
            color: #555;
            background-color: #fff;
            background-image: none;
            border-radius: 4px;
        }
        .captcha-img {
            cursor: pointer;
            vertical-align: top;
        }
        #txt-captcha {
            margin-left: 0.8em;
            padding: 0.1em 0.5em;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="row">
        <div class=" col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
            <div class="col-sm-offset-2 col-sm-10">
                <h3>给[{{ CFG.SITE_INFO.WHOAMI }}]留言</h3>
            </div>
            <div class="col-sm-12">
                <hr class="title-divider" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class=" col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
            <div class="form-horizontal">
                <div class="form-group">
                    <label for="txt-email" class="col-sm-2 control-label">邮箱</label>
                    <div class="col-sm-10">
                        <input type="email" class="form-control" id="txt-email" placeholder="邮箱">
                    </div>
                </div>
                <div class="form-group">
                    <label for="txt-content" class="col-sm-2 control-label">内容</label>
                    <div class="col-sm-10">
                        <textarea rows="5" class="form-control" id="txt-content"  placeholder="留言内容"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">回复</label>
                    <div class="col-sm-10">
                        <label class="radio-inline">
                            <input type="radio" name="rdo-reply" id="rdo-reply-yes" value="yes"> 期待
                        </label>
                        <label class="radio-inline">
                            <input checked="checked" type="radio" name="rdo-reply" id="rdo-reply-no" value="no"> 不必
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">验证</label>
                    <div class="col-sm-10">
                        <div class="form-line-wrapper">
                            <img class="captcha-img" src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" alt="验证码" title="不区分大小写, 点击刷新" />
                            <input type="text" id="txt-captcha" placeholder="验证码" size="12" />
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12 text-right">
                        <button type="button" id="btn-submit" class="btn btn-default">提 交</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer_js %}
    <script type="text/javascript">
        // 模板变量
        GLOGAL.GENERATE_CAPTCHA_URL = "{% url 'pages:generate_captcha' %}";
        GLOGAL.LEAVE_MESSAGE_URL = "{% url 'pages:leave_message' %}";
    </script>
    <script type="text/javascript">
        /**
         * 刷新验证码
         */
        function refresh_captcha() {
            $.ajax({
                url: GLOGAL.GENERATE_CAPTCHA_URL,
                type: 'POST',
                data: {},
                dataType: 'json'
            }).done(function(resp) {
                // console.log(resp);
                if(resp.error == 0)  {
                    $('.captcha-img').attr('src', resp.data);
                }
                else {
                    alert(resp.desc);
                }
            }).fail(function(err) {
                console.error(err);
            });
        }

        /**
         * 提交留言
         */
        function submit_message(email, content, reply, captcha) {
            $.ajax({
                url: GLOGAL.LEAVE_MESSAGE_URL,
                type: 'POST',
                data: {
                    email: email,
                    content: content,
                    reply: reply,
                    captcha: captcha
                },
                dataType: 'json'
            }).done(function(resp) {
                // console.log(resp);
                alert(resp.desc);
                if(resp.error == 0)  {
                    window.location.href = window.location.href;
                }

            }).fail(function(err) {
                console.error(err);
            });
        }

        $(document).ready(function() {
            refresh_captcha();
            $('.captcha-img').on('click', refresh_captcha);
            $('#btn-submit').on('click', function() {
                var email = $('#txt-email').val(),
                    content = $('#txt-content').val(),
                    reply = $('#rdo-reply-yes').prop('checked'),
                    captcha = $('#txt-captcha').val();
                submit_message(email, content, reply, captcha);
            });
        });
    </script>
{% endblock %}