<div class="row page-footer">
    <p class="text-center">
        <strong>
            <a href="{% url 'pages:about' %}">{{ CFG.SITE_INFO.COPYRIGHT|default:CFG.SITE_INFO.WHOAMI }}</a>
            © {% now "Y" %}
        </strong>
        <small>保留所有权利</small>
        <a class="github-icon" href="https://github.com/gsw945/myblog">
            <i class="fab fa-github-square"></i>
        </a>
    </p>
    <p class="text-center">
        <a href="http://www.miitbeian.gov.cn/" target="_blank">{{ CFG.SITE_INFO.ICP }}</a>
    </p>
</div>