<nav class="navbar navbar-default navbar-static-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'pages:index' %}">{{ CFG.SITE_INFO.BRAND|safe }}</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                    <li data-page-view="admin:pages_article_add"><a href="{% url 'admin:pages_article_add' %}">去写博客</a></li>
                {% endif %}
                <li data-page-view="pages:list"><a href="{% url 'pages:list' %}"><strong>博文列表</strong></a></li>
                <!--
                <li data-page-view="pages:copyright"><a href="{% url 'pages:copyright' %}">版权声明</a></li>
                -->
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        点我 <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li data-page-view="pages:about"><a href="{% url 'pages:about' %}">关于我</a></li>
                        <li role="separator" class="divider"></li>
                        <li data-page-view="pages:message"><a href="{% url 'pages:message' %}">给我留言</a></li>
                    </ul>
                </li>
                <li class="top-nav-search">
                    <!-- <input type="text" name="txt-search" placeholder="search" /> -->
                    <form action="{% url 'pages:search' %}" id="header-search" class="navbar-form" role="search">
                        <div class="form-group">
                            <div class="input-group-container header-search">
                                <span class="input-group-container-addon">
                                    <span class="glyphicon glyphicon-search"></span>
                                </span>
                                <input type="text" class="form-control" placeholder="回车搜索" name="query" value="{{ request.GET.query }}" />
                            </div>
                        </div>
                    </form>
                </li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>